$dark-violet-color: rgba(45, 38, 64, 1);
$grayish-blue-color: hsl(216, 30%, 68%);

$very-dark-violet-color: hsl(270, 9%, 17%);
$dark-grayish-violet-color: hsl(273, 4%, 51%);
$very-light-gray-color: hsl(0, 0%, 98%);

